allauth==0.0.1
annotated-types==0.7.0
asgiref==3.8.1
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
crispy-bootstrap5==2025.6
cryptography==45.0.4
defusedxml==0.7.1
Django==5.2
django-allauth==0.61.1
django-bootstrap-datepicker-plus==5.0.5
django-crispy-forms==2.4
django-debug-toolbar==5.2.0
django-extensions==4.1
django-filter==25.1
django-resized==1.0.3
django-tables2==2.7.5
django-tempus-dominus==5.1.2.17
django-widget-tweaks==1.5.0
djangorestframework==3.16.0
gunicorn==23.0.0
idna==3.10
jwt==1.4.0
oauthlib==3.3.1
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.10
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
PyJWT==2.10.1
python-decouple==3.8
python-social-auth==0.3.6
python3-openid==3.2.0
requests==2.32.4
requests-oauthlib==2.0.0
six==1.17.0
social-auth-core==4.7.0
sqlparse==0.5.3
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.9.0
